<div class="comment-display">
  <p>
    <strong>Name:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Jacket:</strong>
    <%= comment.jacket %>
  </p>

  <p>
    <strong>Top:<strong>
		<%= comment.top %>
	</p>

	<p>
		<strong>Pants:<strong>
		<%= comment.pants %>
	</p>

	<p>
		<strong>Shoes:<strong>
		<%= comment.shoes %>
	</p>

	<p>
		<strong>Picture:<strong>
		<br>
		<img src="http://www.ucarecdn.com/:uuid/-/preview/">
	</p>

	<p>
		<strong>Comment:</strong>
    <%= comment.body %>
  </p>
</div>